$theme-colors: (
        "primary": #422284,
);


@font-face {
  font-family: "PT Serif";
  src: url("../fonts/ptserif/PTSerif-Regular.ttf");
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/ptserif/PTSerif-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/ptserif/PTSerif-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/ptserif/PTSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}


$font-family-sans-serif:  'PT Serif', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/scss/github";
@import "~bootstrap/scss/variables";

html {
  overflow-y: scroll;
  height: 100%;
}


body {
  height: 100%;
}

.base-container {
  min-height: 100%;
}

h2 {
  font-size: 28px;
}

.page-heading {
  font-size: 24px;
}

.top-menu {
  display: inline-block;
  padding: 0;

}

.lang-menu {
  float: right;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}

.horizontal-menu {
  font-size: 18px;

  li {
    display: inline-block;
    margin-right: 5px;

    ::after {
      display: inline-block;
      margin-left: 10px;
      content: "|";
    }

    a {
      text-decoration: none;
    }

    .active {
      text-decoration: underline;
    }
  }

  :last-child {
    ::after {
      display: inline-block;
      content: "";
    }
  }
}

.post {
  margin-bottom: 30px;
  &__posted {
    margin-top: -8px;
    color: grey;
    display: flex;
    flex-wrap: wrap;

    &__text {
      font-size: 14px;
      line-height: 18px;
      margin-left: 4px;
    }

    &__icon {
      width: 15px;
      height: 15px;
      background-size: cover;
      background-image: url("../icons/calendar.svg");
    }
  }

  &__category {
    font-size: 14px;
    line-height: 18px;
    margin-left: 8px;
    a {
      color: $dark + 25;
      font-weight: bold;
    }
  }

  &__text {
    margin-top: 20px;

    h1, h2, h3, h4, h5 {
      margin-top: 24px;
    }
    img {
      max-width: 100%;
    }
  }
}

.delimiter {

}

.author-info {
  &__photo {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

}

.archive {
  .archive-date {
    padding-left: 10px;
    color: grey;
  }
}