{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
{% if not debug %}
  {% include 'counters.html' %}
{% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}{% endblock %}
  </title>
  {% block opengraph %}
  {% endblock %}
  {% render_bundle 'main' 'css' %}
  {% block head_extra %}
  {% endblock %}
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
<div class="container base-container ">
  <div class="row">
    <div class="col">
      {% include 'header.html' %}
    </div>
  </div>
  <div class="row justify-content-center align-middle">
    <div class="col align-self-center justify-content-center">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% include 'footer.html' %}
    </div>
  </div>
</div>
{% render_bundle 'main' 'js' %}
{% block body_extra %}
{% endblock %}

</body>
</html>