{% extends 'base.html' %}
{% load martortags %}
{% load i18n %}
{% load blogtags %}
{% get_current_language as LANGUAGE_CODE %}
{% with post=object %}
  {% block title %}{{ post.title }}{% endblock %}
  {% block opengraph %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.description }}"/>
    <meta property="og:type" content="{% trans 'article' %}"/>
    <meta property="og:url" content="https://nurushev.dev{{ post.get_absolute_url }}"/>
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  {% endblock %}
  {% block content %}
    <div class="post">
      <h1 class="post__title">{{ post.title }}</h1>
      <div class="post__posted">
        <span class="post__posted__icon" name="calendar"></span>
        <div class="post__posted__text">{{ post.created.date }}</div>
        <div class="post__category"><a href="{{ post.category.get_absolute_url }}">
          {{ post.category.title }}</a></div>
      </div>
      <div class="post__text">
        {{ post.markdown|safe_markdown }}
      </div>
    </div>
    <hr>
    <div id="disqus_thread"></div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    var disqus_config = function () {
    this.page.url = "https://nurushev.dev{{ post.get_absolute_url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ post.get_absolute_url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://nurushev.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endblock %}

{% endwith %}