{% extends 'base.html' %}
{% load martortags %}
{% load i18n %}
{% load blogtags %}
{% get_current_language as LANGUAGE_CODE %}
{% with post=object %}
  {% block title %}{{ post.title }}{% endblock %}
  {% block opengraph %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.description }}"/>
    <meta property="og:type" content="{% trans 'article' %}"/>
    <meta property="og:url" content="https://nurushev.dev{{ post.get_absolute_url }}"/>
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  {% endblock %}
  {% block content %}
    <div class="post">
      <h1 class="post__title">{{ post.title }}</h1>
      <div class="post__posted">
        <ion-icon class="post__posted__icon" name="calendar"></ion-icon>
        <div class="post__posted__text">{{ post.created.date }}</div>
        <div class="post__category"><a href="{{ post.category.get_absolute_url }}">
          {{ post.category.title }}</a></div>
      </div>
      <div class="post__text">
        {{ post.markdown|safe_markdown }}
      </div>
    </div>
  {% endblock %}

{% endwith %}